* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.stopwatch{
  width: 90%;
  max-width: 600px;
  background-image: url('https://images.unsplash.com/photo-1765285947952-a3c79761a9b0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stopwatch h1{
  margin-bottom: 30px;
  font-size: 3.5rem;
  font-family: monospace;
}